<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.aio">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationTheme">
        <activity
            android:name=".main.ui.activities.SplashScreen"
            android:label="@string/title_activity_start_screens"
            android:theme="@style/ApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.activities.MainActivity" />
        <activity android:name=".main.ui.activities.StartScreens" />
    </application>

</manifest>